@-moz-document domain(aft-poirot-website-iad.iad.proxy.amazon.com) {
    .flex-layout--row {
        overflow: auto !important;
    }
    .flex-layout--column {
        overflow: auto !important;
    }
    body {
        background-color: #ff80aa !important;
    }
    #app-root {
        background-color: #ffe0f8 !important;
    }
    .navbar--variant-default {
        background-color: #ff80aa !important;
    }
    .box--default {
        background-color: #fff8fe !important;
    }
    .box--gray {
        background-color: #ebd0e0 !important;
    }
    div.ps-nav-bar .menu--header.clickable {
        background-color: #ff80aa !important;
    }
    div.ps-nav-bar .menu--header.clickable:hover {
        background-color: #ff789e !important;
    }
    .alert--success {
        background-color: #20ee28 !important;
    }
    .alert--warning {
        background-color: #ff9933 !important;
    }
    .alert--error {
        background-color: #ff2200 !important;
    }
}
